.input {
    padding: 8px;
    border: 1px solid $primary;
    background: $light;
    color: $primary;
    outline: none;

    &:focus {
        outline: none;
    }

    &:disabled {
        border-color: $gray;
        color: $gray;
    }

    &::-webkit-input-placeholder {
        color: $gray;
    }

    &:-ms-input-placeholder { // IE10+
        color: $gray;
    }

    &:-moz-placeholder { // Firefox4-18
        color: $gray;
    }

    &::-moz-placeholder { // Firefox19+
        color: $gray;
    }
}
