.button {
    display: inline-block;
    margin: 0;
    padding: 6px 14px;
    border: 1px solid $primary;
    border-radius: 0;
    background-color: $light;
    outline: none;
    color: $primary;
    font-size: 14px;
    cursor: pointer;

    &.large-button {
        padding: 16px 20px;
        letter-spacing: 1px;
        font-size: 16px;
    }

    &.small-button {
        padding: 4px 8px;
    }

    &.disabled-button {
        border: 1px solid $gray;
        color: $gray;
        cursor: not-allowed;
    }
}
