$primary: #787878;
$dark: #0c1215;
$gray: #dfdfdf;
$light: #fff;
$success: #52c41a;
$error: #f5222d;

$normal-margin: 16px;
$lg-margin: 32px;
$sm-margin: 8px;

$header-height: 70px;
$footer-height: 70px;

%flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
