.header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: $header-height;
    line-height: $header-height;
    padding-left: 100px;
    border-bottom: 1px solid $gray;
    background-color: $light;
    font-size: 20px;
    font-weight: 600;
}

.header-next {
    height: $header-height;
    background-color: transparent;
}
