.footer {
    @extend %flex-middle;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    border-top: 1px solid $gray;
    background-color: $light;
    font-style: italic;
}

.footer-next {
    height: $footer-height;
    background-color: transparent;
}
